#  spring.application.name=spring-with-gradle
spring:
  profiles:
    active: dev
  datasource:
    url: jdbc:postgresql://localhost:5432/car_db
    username: Apurbo
    password: postgre
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        format_sql: true
    database-platform: org.hibernate.dialect.PostgreSQLDialect
app:
  name: SpringWithGradleApplication


